<header class="header">
    <div class="header__container">
        <a class="logo" href="/">
            <span class="logo__bay">Bay</span>
            <span class="logo__bank">Bank</span>
        </a>
        <nav class="nav">
            <ul class="nav__links">
                <li><a class="nav__link <%= active == "Home" ? "active" : "" %>" href="/">Home</a></li>
                <li><a class="nav__link <%= active === "News" ? "active" : "" %>" href="/news">News</a></li>
                <li><a class="nav__link <%= active === "Press" ? "active" : "" %>" href="/press">Press</a></li>
            </ul>
        </nav>
        <div class="user">
            <a href="/login" class="user__login <%= active === "Login" ? "active" : "" %>">Login</a>
            <a href="/register" class="user__register <%= active === "Register" ? "active" : "" %>">Register</a>
        </div>
    </div>
</header>
