<%- include('includes/header.ejs', {article: article}) %>
<article class="article">
  <div class="article__text">
    <p class="article__date"><%= article.date %></p>
    <h1 class="article__text-h"><%= article.title %></h1>
    <img
      class="article__img"
      src="/img/<%= article.image %>"
      alt="<%= article.title %>"
    />
    <h3 class="article__text-h article__text-h--medium">
      <%= article.secondaryTitle %>
    </h3>
    <p class="article__text-p"><%= article.text %></p>
  </div>
</article>
<%- include('includes/footer.ejs', {article: article}) %>
