<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/head.ejs') %>
        <title><%= title %></title>
    </head>
    <body>
        <%- include('includes/header.ejs', {active: active}) %>
        <main class="main-content">
            <h1><%= title %></h1>
        </main>
        <%- include('includes/footer.ejs') %>
    </body>
</html>
