<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/head.ejs') %>
        <title><%= title %></title>
    </head>
    <body>
        <div class="separator">
            <%- include('includes/header.ejs') %>
            <main class="main-content">
                <h1><%= title %></h1>
            </main>
        </div>
        <%- include('includes/footer.ejs') %>
    </body>
</html>
