<div class="card card--medium">
  <section>
    <img
      class="card__img card__img--medium"
      src="/img/index-4.jpg"
      alt="Apple pay"
    />
  </section>
  <section class="card__text-separator">
    <div class="card__text">
      <p class="card__text-p card__date">
        <%= new Date().toISOString().slice(0, 10) %>
      </p>
      <h3 class="card__text-h card__text-h--medium">
        All of your necessities can be met with a loan
      </h3>
      <p class="card__text-p">
        We can help you with all of your financial needs, whether you're buying
        or renovating a home, buying a car, traveling, or making a long-awaited
        purchase.
      </p>
    </div>
    <form action="/learn" method="POST">
      <button
        class="btn btn--secondary"
        type="button"
        name="apple-pay"
        value="learn-more"
      >
        Read
      </button>
    </form>
  </section>
</div>

<div class="card-set">
  <div class="card card--small">
    <section>
      <img
        class="card__img card__img--small"
        src="/img/index-4.jpg"
        alt="Apple pay"
      />
    </section>
    <section class="card__text-separator card__text-separator--small">
      <div class="card__text card__text--small">
        <p class="card__text-p card__date card__date--small">
          <%= new Date().toISOString().slice(0, 10) %>
        </p>
        <a class="card__link" href="#">
          <h3 class="card__text-h card__text-h--small">
            All of your necessities can be met with a loan ⇨
          </h3>
        </a>
        <p class="card__text-p card__text-p--small">
          We can help you with all of your financial needs, whether you're
          buying or renovating a home, buying a car, traveling, or making a
          long-awaited purchase.
        </p>
      </div>
    </section>
  </div>
  <div class="card card--small">
    <section>
      <img
        class="card__img card__img--small"
        src="/img/index-4.jpg"
        alt="Apple pay"
      />
    </section>
    <section class="card__text-separator card__text-separator--small">
      <div class="card__text card__text--small">
        <p class="card__text-p card__date card__date--small">
          <%= new Date().toISOString().slice(0, 10) %>
        </p>
        <a class="card__link" href="#">
          <h3 class="card__text-h card__text-h--small">
            All of your necessities can be met with a loan
          </h3>
        </a>
        <p class="card__text-p card__text-p--small">
          We can help you with all of your financial needs, whether you're
          buying or renovating a home, buying a car, traveling, or making a
          long-awaited purchase.
        </p>
      </div>
    </section>
  </div>
  <div class="card card--small">
    <section>
      <img
        class="card__img card__img--small"
        src="/img/index-4.jpg"
        alt="Apple pay"
      />
    </section>
    <section class="card__text-separator card__text-separator--small">
      <div class="card__text card__text--small">
        <p class="card__text-p card__date card__date--small">
          <%= new Date().toISOString().slice(0, 10) %>
        </p>
        <a class="card__link" href="#">
          <h3 class="card__text-h card__text-h--small">
            All of your necessities can be met with a loan
          </h3>
        </a>
        <p class="card__text-p card__text-p--small">
          We can help you with all of your financial needs, whether you're
          buying or renovating a home, buying a car, traveling, or making a
          long-awaited purchase.
        </p>
      </div>
    </section>
  </div>
  <div class="card card--small">
    <section>
      <img
        class="card__img card__img--small"
        src="/img/index-4.jpg"
        alt="Apple pay"
      />
    </section>
    <section class="card__text-separator card__text-separator--small">
      <div class="card__text card__text--small">
        <p class="card__text-p card__date card__date--small">
          <%= new Date().toISOString().slice(0, 10) %>
        </p>
        <a class="card__link" href="#">
          <h3 class="card__text-h card__text-h--small">
            All of your necessities can be met with a loan
          </h3>
        </a>
        <p class="card__text-p card__text-p--small">
          We can help you with all of your financial needs, whether you're
          buying or renovating a home, buying a car, traveling, or making a
          long-awaited purchase.
        </p>
      </div>
    </section>
  </div>
</div>
